.navbar {
    padding: 30px;
    text-align: right;
}

.navbutton {
    height: 40px;
    margin: 10px;
    padding: 5px;
    color: #adb5bb;
    text-decoration: none;
    border: solid;
    border-color: #adb5bb67;
    border-radius: 20px;
    border-width: 2px;
}

.navbutton:hover {
    border-color: #6247aa;
}